ul {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style-type: none;
}

li {
  flex-basis: calc((100% - 24px) / 4);

  height: 350px;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
